<h2>
	About LineSocial
</h2>

<div id="lipsum">

<p>
Ever stand in a long line? Wish you could make a friend towards the head? 
LineSocial will facilitate contextual temporary connections just for such occasions.
You could call this a form of "Contextual Social Media", where you make friends related to 
a specific context. You may not wish to continue this relationship past the line wait.
So there is no need to send friend requests.
</p>
