<img src="img/linelogoBlackGreen.png" style="float:right; margin: 15px; cursor:pointer; cursor:hand; border:0" width="25" height="25" />
<p>
Ever stand in a long line? Wish you could make a friend towards the head? 
LineSocial is a point based system where people connect on long lines.
Whether line for a concert, Black Friday, the latest iPhone or just at the supermarket,
people can meet and stand in line together.
</p>
<p>
Unlike other social media, LineSocial is contextually driven: your relationship
is limited to the context of standing on line at a given time and place. After the
line is over, you can go your separate ways without any long term commitment to a relationship.
To that end we do not save messages past the point you stand on line with that person. 
We will not provide a mechanism to share pictures or any profile information about you.
You should see this app as just a way to make standing on line a little easier.
</p>
<p>
Currently we are in Alpha testing phase. This IS NOT a full featured app. Terms and Conditions are
subject to changes such a fee for use. Clearly though, this app will only be useful if
people use it and most people will only use it for free. So our business model has yet to
decide the happy compromise between free for use and premium service.
</p>