<p>
Ever stand in a long line? Wish you could make a friend towards the head? 
LineSocial is a pointed based system where people connect on long lines.
Whether line for a concert, Black Friday, the latest iPhone or just at the supermarket,
people can meet each other and take advantage that the other person is further down the line 
by standing with them!
</p>
<p>
Unlike other social media, LineSocial is contextually driven: your relationship
is limited to the context of standing on line at a given time and place. After the
line is over, you can go your separate ways without any long term commitment to a relationship.
To that end we do not save messages past the point you stand on line with that person. 
We will not provide a mechanism to share pictures or any profile information about you.
You should see this app as just a way to make standing on line a little easier.
</p>
