  <div class="container hero-unit">
    <form id='captcha' method="POST" action="/forgot">
        <div id="mc">
            <canvas id="mc-canvas" class="<%= error ? 'mc-invalid' : '' %>"></canvas>
        </div>    
    </form>
  </div>
