<section class="bordered">
	<menu class="footer">
		<li class="arrow" name="about">About LineSocial</li>	
		<li class="section about"><% include about %></li>
		<li class="arrow" name="faq">FAQ</li>	
		<li class="section faq"><% include faq %></li>		
		<li class="arrow" name="terms">Terms & Conditions</li>
		<li class="section terms"><% include terms %></li>		
		<li class="arrow" name="contact">Contact</li>	
		<li class="section contact"><% include contact %></li>			
	</menu>
	<p>&copy; 2013 LineSocial</p>
</section>
    <script src="/js/libs/styleswitcher.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>    
    <script src="/js/libs/underscore.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/libs/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/libs/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/libs/jquery.canvas-loader.1.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/intlTelInput.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-46446487-2', 'linesocial.mobi');
	  ga('send', 'pageview');
	
	</script>    
  <section class="body right"></section>
  <section class="body left"></section>
  </body>
</html>
