	<menu class="footer">
		<li class="arrow" name="about">About LineOut</li>	
		<li class="section about"><% include about %></li>
		<li class="arrow" name="terms">Terms & Conditions</li>
		<li class="section terms"><% include terms %></li>		
		<li class="arrow" name="contact">Contact</li>	
		<li class="section contact"><% include contact %></li>			
	</menu>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-1.9.1.js"></script>
    <script src="/js/libs/underscore.js"></script>
    <script src="/js/libs/iphone-style-checkboxes.js" type="text/javascript" charset="utf-8"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/js/libs/jquery.canvas-loader.1.3.js"></script> 
    <script src="/js/main.js"></script>
  <section class="body right"></section>
  <section class="body left"></section>
  </body>
</html>
