<html>
  <head>
    <title>reset password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel='stylesheet' href='/css/main.css' />
	<link rel='stylesheet' href='/css/lib/jquery-ui.css' />
	<link rel='stylesheet' href='/css/lib/jquery.mobile.structure-1.4.0.min.css' />		
    <link rel="stylesheet" href="/css/intlTelInput.css">	
	<link rel="alternate stylesheet" type="text/css" href="/css/red.css" title="red" />
	<link rel="alternate stylesheet" type="text/css" href="/css/blue.css" title="blue" />
	<link rel="alternate stylesheet" type="text/css" href="/css/gold.css" title="gold" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">    
  </head>
  <body class="forgot">
        <header>
            <div class="container-fluid">
            	<% if ( typeof(user) != 'undefined' ) { %>
				<div class="back button"><%= l('Back') %></div>   
				<% } %>      
                <div id="branding" class="aligncenter">
                	<h1 class="light no-margin"><%= l('LineSocial') %>&trade;</h1>
                <a class="button right logout" href="/"><%= l('Logout') %></a>
                </div>
            </div>
 
        </header>
          <div class="container hero-unit">  
          <h2>Enter New Password</h2>
		    <form method="POST" action="/reset">
		        <input placeholder="password" type="password" name="password">
		        <input placeholder="confirm password" type="password" name="confirm">
		        <input class="hide" type="text" name="token">		        
		        <input id="submit" type="submit" value="reset password">
		    </form>
    	</div>
<%include footer %>
<script type="text/javascript">
$(document).ready(function(){
var token = location.search.split("?")[1];
console.log("token " +token);
$("input[name='token']").attr("value", token);
});
</script>
