<% include header %>
  <div class="container hero-unit">
  <h2>Password Reset</h2>
    <form method="POST" action="/forgot">
      <input type="text" name="email" value="you@example.com">
      <input id="submit" type="submit" value="forgot password">
    </form>
  </div>  
<%include footer %>
