<% include header %>
  <div class="container hero-unit">
  <h2><%= l('Password Reset') %></h2>
    <form method="POST" action="/forgot">
      <input type="text" name="email" value="<%= l('you@example.com') %>">
      <input id="submit" type="submit" value="<%= l('forgot password') %>">
    </form>
  </div>  
<%include footer %>
