<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/css/iphone.css' /> 
  </head>
  <body class="<%= pagename %>">

        <header>
            <div class="container-fluid">
				<a href="/<%= user.username %>"><div class="button">Back</div></a>         
                <div id="branding" class="aligncenter">
                	<h1 class="light no-margin">LineSocial</h1>
                </div>
                </button>
            </div>
        </header>
