<!DOCTYPE html>
<html class="disabled">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel='stylesheet' href='/css/main.css' />
	<link rel='stylesheet' href='/css/lib/jquery-ui.css' />
	<link rel='stylesheet' href='/css/lib/jquery.mobile.structure-1.4.0.min.css' />		
    <link rel="stylesheet" href="/css/intlTelInput.css">	
	<link rel="alternate stylesheet" type="text/css" href="/css/red.css" title="red" />
	<link rel="alternate stylesheet" type="text/css" href="/css/blue.css" title="blue" />
	<link rel="alternate stylesheet" type="text/css" href="/css/gold.css" title="gold" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body class="<%= pagename %>">

        <header>
            <div class="container-fluid">
            	<% if ( typeof(user) != 'undefined' ) { %>
				<div class="back button">Back</div>   
				<% } %>      
                <div id="branding" class="aligncenter">
                	<h1 class="light no-margin">LineSocial&trade;</h1>
                <a class="button right logout" href="/">Logout</a>
                </div>
            </div>
			<menu class="themes">
			    <li class="normal_theme" rel=""></li>			
			    <li class="red_theme" rel="red"></li>
			    <li class="blue_theme" rel="blue"></li>
			    <li class="gold_theme" rel="gold"></li>
			</menu>     
        </header>
