<% include header %>


<section class="content">
	<div class="wrapper">
	    <h2 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h2>
	
	    <section class="bordered">
	        <div class="container-fluid">
				<% include nav %>
				<input class="hide cID" value="<%= user.check_in.cID %>" />
	        </div>
	    </section>
	</div>    			
</section>

<input class='hide username' value="<%= user.username %>" />

<% include footer %>

