<% include header %>

<!--<% include sidebar-nav %>-->

<section class="content">
    <header class="content-header">
        <h1 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h1>
    </header>
    <section class="bordered">
        <div class="container-fluid">
			<% include nav %>
        </div>
    </section>
</section>

<!--<% include sidebar-notifications %>-->

<% include footer %>
