<% include header %>

<section class="content">
   <h2 class="light no-margin"><%= user.name.first %> <%= user.name.last %></h2>

    <section class="bordered">
        <div class="container-fluid">
			<% include nav %>
        </div>
    </section>
    			
</section>


<% include footer %>
