<% include header %>

  <div class="container hero-unit">
      <form method="post" action="/login" class="form-horizontal form-skin">
        <div class="control-group">
          <div class="controls">
            <input type="email" id="inputEmail" name="email" placeholder="Email">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
          </div>
        </div>
        <div class="control-group">      
          <div class="controls">
	          <table>
		          <tr class="on_off">
					<th><label for="on_off">Remember Me:</label></th>
					  <td>
					  <label class="on_off">
					    <input type="checkbox" id="on_off" />
					    </label>
					  </td>
					</tr>
			  </table>
            <button id="submit" type="submit" class="btn btn-flat btn-blue no-radius">Sign in</button>
            <p></p>
            <a href="/register"><button id="register" type="button" class="btn btn-flat btn-blue no-radius">register here</button></a>
          </div>
        </div>
      </form>
      <br />
      <a class="facebook" href="/auth/facebook"><img src="/img/login-with-facebook.png" width="154" height="22"></a>
 	  <br />
	<ul>
		<li class="termsButton">Terms & Conditions</li>
	</ul>
	<ul class="terms">	
		<li><% include terms %></li>
	</ul>
  </div>


<%include footer %>
 <div class="overlay"><div></div></div>
<script type="text/javascript">
$(document).ready(function(){
$(".overlay > div").canvasLoader();
setTimeout(function() {
   $(".overlay").addClass("disable");
   setTimeout(function() {
   	$(".overlay > canvas").remove();
   }, 1000);
   }, 500);
});
</script>



