<section class="body right">
<!--messages-->
<% include subpage_header %>
<div id="wrapper">
	
	<div id="wrapper">
	<h2 class="light no-margin">Messages</h2>

    <section class="chat_requests bordered">

    <div id="content">
    </div>
    <div class="message controls">
		<input class="hide cID" />       
		<input class="hide fID" value="<%= user._id %>" />
		<input class="hide tID"  />    		
		<input id="name" placeholder="name" value="<%= user.username %>" /> 
        <input id="field" class="field" placeholder="field" />
        <input id="send" class="send" type="button"  value='send' />
    </div>
    </section>
</div>
</section>


<script type="text/javascript">
$(document).ready(function(){

 	console.log("running messages");
    var messages = [];
    var socket = io.connect(location.origin);
    var field = document.getElementById("field");
    var sendButton = document.getElementById("send");
    var content = document.getElementById("content");
    var name = document.getElementById("name");
	$(".message.controls .cID").attr("value", global_cID);
	$(".message.controls .tID").attr("value", global_tID);
	global_fID = $(".message.controls .fID").val();  
	console.log("global_cID "+global_cID+" global_tID "+global_tID+" global_fID "+global_fID);      	 
    socket.on('message', function (data) {
        if(data.message) {
            messages.push(data);
			console.log("global_cID "+global_cID);            
            console.log("data.message "+data.message);
            var html = '';
            var chat_requests = '';            
            var fIDlist = [];
			global_fID = $(".message.controls .fID").attr("value");
			console.log("global_fID "+global_fID);
	            for(var i=0; i<messages.length; i++) {
	            if ((messages[i].cID == $(".message.controls .cID").attr("value")) && 
	            	((messages[i].fID == $(".message.controls .fID").attr("value")) || 
	            	(messages[i].tID == $(".message.controls .fID").attr("value"))	
	            	)) {	
            		fIDlist.push(messages[i].username+"_"+messages[i].fID);
	                html += '<p cID="'+messages[i].cID+'" fID="'+messages[i].fID+'" tID="'+messages[i].tID+'"><b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
	                html += messages[i].message + '</p>';
					}	                
	            }

	       var fIDlistArrayUnique = ArrNoDupe(fIDlist);        
           content.innerHTML = html;
	            for(var i=0; i<fIDlistArrayUnique.length; i++) {
	            console.log("fIDlistArrayUnique[i] "+fIDlistArrayUnique[i]);
	            var ucID = fIDlistArrayUnique[i].split("_").pop();
	            fIDlistArrayUnique[i].split("_").pop();
	                chat_requests += '<li class="'+ucID+'">' + fIDlistArrayUnique[i].split("_")[0] + '</li>';
	            }
	       //$(".chat_requests ul").html(chat_requests);            
	       
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    sendButton.onclick = function() {
    	console.log("click");
    	var d = new Date();
        if(name.value == "") {
            alert("Please type your name!");
        } else {
    		var time = " " + d.getHours() + ":" + d.getMinutes();
            var text = field.value;
            var url = "/"+name.value+"/update_messages";
            var all_content = $("#content").html();
	    	text = text + time; 
	    	console.log("text: "+text);            
            socket.emit('send', { cID: global_cID, fID: global_fID, tID: global_tID, message: text, username: name.value });
			updateMessages(global_cID, global_fID, global_tID, all_content, url);
        }
    };
 
});
</script>