<section class="body right">
<!--messages-->
<% include subpage_header %>
<div id="wrapper">
	
	<div id="wrapper">
	<h2 class="light no-margin hide">Messages</h2>

    <section class="chat_requests bordered">

    <div class="content messages">
    	<%- message %>
    </div>
    <div class="message controls">
		<input class="hide message cID" />       
		<input class="hide message fID" value="<%= user._id %>" />
		<input class="hide message tID"  />    		
		<input class="name message hide" placeholder="name" value="<%= user.username %>" /> 
        <input class="field message" placeholder="field" />
        <input class="send message" type="button"  value='send' />
    </div>
    </section>
</div>
</section>


<script type="text/javascript">
$(document).ready(function(){

    var messages = [];
    var socket = io.connect(location.origin);
    var field = document.getElementById("field");
    var content = $(".content.messages");
    var name = document.getElementById("name");
    var match = false;
    var sender = "inbound";
	$(".message.controls .cID").attr("value", global_cID);
	$(".message.controls .tID").attr("value", global_tID);     		
	global_fID = $(".message.controls .fID").val();  
	
	$('.content.messages').stop().animate({
	  scrollTop: $(".content.messages")[0].scrollHeight
	}, 800);  
	    	 
    socket.on('message', function (data) {
    console.log("data "+data);
        if(data.message) {
            messages.push(data);
			console.log("global_cID "+global_cID);            
            console.log("data.message "+data.message);
            var html = $(".content.messages").html();
            var chat_requests = '';            
            var fIDlist = [];
            var sender = "inbound";
			global_fID = $(".message.controls .fID").attr("value");
			console.log("messages.length "+messages.length);
			$('.content.messages').stop().animate({
			  scrollTop: $(".content.messages")[0].scrollHeight
			}, 800);  			
	            for(var i=0; i<messages.length; i++) {
	            if ((messages[i].cID == $(".message.controls .cID").attr("value")) && 
	            	((messages[i].fID == $(".message.controls .fID").attr("value")) || 
	            	(messages[i].tID == $(".message.controls .fID").attr("value"))	
	            	)) {	
	            	$(".content.messages p").each(function(){
	            		if ($(this).attr("ts") == messages[i].ts) {
	            			match = true;
	            		}
	            	});
		            	if (!match) {
		                if (messages[i].fID === $(".message.fID").attr("value")) {
		                sender = "outbound";
		                }		            	
		                html += '<p ts="'+messages[i].ts+'" class="'+sender+'" name="'+messages[i].username+'" cID="'+messages[i].cID+'" fID="'+messages[i].fID+'" tID="'+messages[i].tID+'"><span><b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
		                html += messages[i].message + '</span></p>';
		                }
		                match = false;
					}	                
	            }

	       console.log("html "+html);   
           //content.innerHTML = html;
           $(".content.messages").html(html);
	       
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    $(".send.message").click(function() {
    	console.log("click");
		var user = $(".name.message").val();    	
    	var d = new Date();
        if(user == "") {
            alert("Please type your name!");
        } else {
       		var d = new Date();
        	var h = d.getHours();
        	var td = "am";
        	if (h > 12) { 
        	h = h - 12;
        	td = "pm"; 
        	}
        	var m = d.getMinutes();
        	m = checkTime(m);   
    		var time = " " + h + ":" + m + " "+td;
    		var timestamp = d.getTime();
            var text = $(".field.message").val();
	    	var text = text + time;             	    	
			global_cID = $(".message.controls .cID").attr("value"); 
            socket.emit('send', { ts: timestamp, cID: global_cID, fID: global_fID, tID: global_tID, message: text, username: user });
            var html = $(".content.messages").html();
			console.log("html "+html);            
            html += '<p ts="'+timestamp+'" class="message_outbound" name="'+user+'" cID="'+global_cID+'" fID="'+global_fID+'" tID="'+global_tID+'"><span><b>' + user + ': </b>';
            html += text + '</span></p>';
            console.log("html ");            
            var url = "/"+user+"/update_messages/";
            console.log("url " +url);
            updateMessages(global_cID, global_fID, global_tID, html, url);
        }
    });
 
});
</script>