<section class="content">

<% include subpage_header %>
<div id="wrapper">
	<h2 class="light no-margin">Profile</h2>

    <section class="bordered">
    <div id="content"'>
    </div>
    <div class="controls">
    		<input id="name" placeholder="name" /> 
            <input id="field" class="field" placeholder="field" />
            <input id="send" class="send" type="button"  value='send' />
    </div>
    </section>
</div>
</section>


<script type="text/javascript">
$(document).ready(function(){
 	console.log("running messages");
    var messages = [];
    var socket = io.connect('http://localhost:3700');
    var field = document.getElementById("field");
    var sendButton = document.getElementById("send");
    var content = document.getElementById("content");
    var name = document.getElementById("name");
 
    socket.on('message', function (data) {
        if(data.message) {
            messages.push(data);
            var html = '';
            for(var i=0; i<messages.length; i++) {
                html += '<b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
                html += messages[i].message + '<br />';
            }
            content.innerHTML = html;
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    sendButton.onclick = function() {
    	console.log("click");
        if(name.value == "") {
            alert("Please type your name!");
        } else {
            var text = field.value;
            socket.emit('send', { message: text, username: name.value });
        }
    };
 
});
</script>