<% include header %>

<div class="container hero-unit">

  <form method="post" action="/register" class="form-skin register">
      <input type="text" name="firstName" placeholder="Your firstname here"/>
      <input type="text" name="lastName" placeholder="Your lastname here"/>
      <input type="text" name="username" placeholder="Your username here"/>
      <input type="text" name="email" placeholder="Your Email here"/>
      <input type="text" name="cemail" placeholder="Your Email (confirm) here"/>
      <input type="password" name="password" placeholder="Your password here"/>
      <input type="password" name="cpassword" placeholder="Your password (confirm) here"/>
      <p>
      <input id="user_register" type="button" value="Register Now" class="btn btn-flat btn-blue no-radius"/>
      </p>
  </form>
</div>

<% include footer %>
