<% include header %>

<div class="container hero-unit">

  <form ng-submit="submit()" ng-controller="regCtrl">
      <input type="text" name="firstName" ng-model="formData.firstname" required placeholder="Your firstname here"/>
      <input type="text" name="lastName" ng-model="formData.lastname" required placeholder="Your lastname here"/>
      <input type="text" name="username" ng-model="formData.username" required placeholder="Your username here"/>
      <input type="email" name="email" ng-model="formData.email" required placeholder="Your Email here"/>
      <input type="email" name="cemail" ng-model="cemail" required placeholder="Your Email (confirm) here"/>
      <input type="password" name="password" ng-model="formData.password" required placeholder="Your password here"/>
      <input type="password" name="cpassword" ng-model="cpassword" required placeholder="Your password (confirm) here"/>
      <p></p>
      <p>
      <input type="submit" id="submit" value="Submit" />
      </p>
	<pre>
		{{ formData }}
	</pre>      
  </form>
</div>

<% include footer %>
