<section class="content">

<% include subpage_header %>
<div class="wrapper">
	<h2 class="light no-margin"><%= l('Validation Submitted') %></h2>
	<p><%= l('We have received your validation code') %></p>
</div>
</section>

<script type="text/javascript">
$(document).ready(function(){

});
</script>
