<section class="content">

<% include subpage_header %>
<div class="wrapper">
	<h2 class="light no-margin"><%= l('Validation Submitted') %></h2>
	<p><%= l('We have received your validation code') %></p>
</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	setTimeout(function(){
		var back_button = "<div class='back button active'><%= l('Back') %></div>";
		$("section.active header > div").prepend(back_button);	
		   $(".back.button").click(function(){
		   		$("section.body.active").removeClass("active");
		   });			
	}, 2000)
});
</script>
