<section class="content">

<% include subpage_header %>
<div class="wrapper">
	<h2 class="light no-margin"><%= l('Validate Phone') %></h2>
    <section class="bordered">


    </section>
</div>
</section>

<script type="text/javascript">
$(document).ready(function(){

});
</script>
