<script type="text/javascript">
var x=document.getElementById("demo");
	$(document).ready( function(){
	   $("#checkin").click(function(e){
		   var location = $("#location").val(),
		   geolocation  = $("#coords").val(),
		   line_length     = $("#line_length").val();
		   checkIn(location, geolocation, line_length);
	   });
	   $("input[type='text'], textarea").focus(function(){
		   console.log("focus");
		   $(this).css("color", "black");
	   });	   
	   
	   $("a").click(function(e){
		   e.preventDefault();
		   console.log("subpage header [href$='/messages/']");
		   var url = $(this).attr("href");
		   getPage(url);	  
		   console.log("get page URL"); 
	   });
	

	
	   $(".back.button").click(function(){
	   	var cObject = $(this);
		  cObject.parent().parent().parent().removeClass("active");
		  setTimeout(function(){
		  	cObject.parent().parent().parent().remove();
		  }, 1000);
	   });	   
   });
   
function checkIn(location, geolocation, line_length) {
	if((location.length > 0) && (geolocation.length > 0) && (line_length.length > 0)) {
	     $.ajax({ 
	           url: '/<%= user.username %>/user_check_in/',
	           type: 'POST',
	           cache: false, 
	           data: { location: location, geolocation: geolocation, line_length: line_length }, 
	           success: function(data){
	           	  markup = data;
	              //alert('Success!');
	              console.log("data "+data);
	              $("#demo").html(data);
	           }
	           , error: function(jqXHR, textStatus, err){
	               alert('text status '+textStatus+', err '+err)
	               console.log('text status '+textStatus+', err '+err);
	           }
	        });
	}     
 }            


</script>

<header>
    <div class="container-fluid">
    	<% if ( typeof(user) != 'undefined' ) { %>
		<div class="back button">Back</div>    
		<% } %>      
        <div id="branding" class="aligncenter">
        	<h1 class="light no-margin">LineSocial</h1>
        </div>
        </button>
    </div>
</header>
