<script type="text/javascript">
var x=document.getElementById("demo");
	$(document).ready( function(){
	   //$("body").height($(document).height());
	   //Themes
	   /*
	   $("menu.themes li").click(function(){
		   var themeColor = $(this).attr("rel");
		   setActiveStyleSheet(themeColor);
	   });	
	   */
	   //Themes
	   setTimeout(function(){
	   $("menu.themes li").click(function(){
		   $(this).siblings().removeClass("active");
		   $(this).addClass("active");
		   var themeColor = $(this).attr("rel");
		   setActiveStyleSheet(themeColor);
	   });
	   
	   $("menu.themes > li").first().addClass("active");
	   }, 1000);
	   
	   $("link").each(function(){ 
		   if(!$(this).attr("disabled") && ( $(this).attr("title") != undefined)) {
			   var theme = $(this).attr("title");
			   $(".themes li[rel='"+theme+"']").click();
		   } 
		}); 	   
	   

	   $("input[type='text'], textarea").focus(function(){
		   $(this).css("color", "black");
	   });	   
	   
	   $("input, textarea").focus(function(){
		   
		   $(this).css("color", "black");
	   });	   
	   
	   
	   $("a").click(function(e){
		   e.preventDefault();
		   var url = $(this).attr("href");
		   if (url.indexOf("notifications") > 0) {
			   $(".notifications").addClass("active");
		   } 	   
		   else {
		   		if (url.indexOf("messages") > 0) {
				 	global_cID = $(this).children().children().children("#cID").attr("value");
					global_fID = $(this).children().children().children("#fID").attr("value");
					global_tID = $(this).children().children().children("#tID").attr("value");	
					var tester = $(this).children().children().children("#tester").attr("value");	
					var session_id = $(this).children().children().children("#session_id").attr("value");
					getMessages(global_cID, global_fID, tester, session_id, url);				  
				}
				else if (url.indexOf("user_lines") > 0) {
					
				}
				else {
				    getPage(url);
			   }  
		   }	
	   });
	

	
	   $(".back.button").click(function(){
	   	var cObject = $(this);
		  cObject.parent().parent().parent().removeClass("active");
		  setTimeout(function(){
		  	cObject.parent().parent().parent().not(".notifications").remove();
		  	$(".checkin").remove();
		  }, 1000);
	   });	   
   });
   



</script>

<header>
    <div class="container-fluid">
    	<% if ( typeof(user) != 'undefined' ) { %>
		<div class="back button"><%= l('Back') %></div>    
		<% } %>      
        <div id="branding" class="aligncenter">
        	<h1 class="light no-margin"><%= l('LineSocial') %></h1>
        </div>
        </button>
    </div>
</header>
