<script type="text/javascript">
var x=document.getElementById("demo");
	$(document).ready( function(){
	   $("body").height($(document).height());
	   //Themes
	   $("menu.themes li").click(function(){
		   var themeColor = $(this).attr("rel");
		   setActiveStyleSheet(themeColor);
	   });	

	   $("input[type='text'], textarea").focus(function(){
		   $(this).css("color", "black");
	   });	   
	   
	   $("input, textarea").focus(function(){
		   
		   $(this).css("color", "black");
	   });	   
	   
	   
	   $("a").click(function(e){
		   e.preventDefault();
		   var url = $(this).attr("href");
		   if (url.indexOf("notifications") > 0) {
			   $(".notifications").addClass("active");
		   } 	   
		   else {
		   		if (url.indexOf("messages") > 0) {
				 	global_cID = $(this).children().children().children("#cID").attr("value");
					global_fID = $(this).children().children().children("#fID").attr("value");
					global_tID = $(this).children().children().children("#tID").attr("value");	
					getMessages(global_cID, global_fID, url);				  
				}
				else if (url.indexOf("user_lines") > 0) {
					
				}
				else {
				    getPage(url);
			   }  
		   }	
	   });
	

	
	   $(".back.button").click(function(){
	   	var cObject = $(this);
		  cObject.parent().parent().parent().removeClass("active");
		  setTimeout(function(){
		  	cObject.parent().parent().parent().not(".notifications").remove();
		  	$(".checkin").remove();
		  }, 1000);
	   });	   
   });
   



</script>

<header>
    <div class="container-fluid">
    	<% if ( typeof(user) != 'undefined' ) { %>
		<div class="back button">Back</div>    
		<% } %>      
        <div id="branding" class="aligncenter">
        	<h1 class="light no-margin">LineSocial</h1>
        </div>
        </button>
    </div>
	<menu class="themes">
	    <li class="red_theme" rel="red"></li>
	    <li class="blue_theme" rel="blue"></li>
	    <li class="gold_theme" rel="gold"></li>
	</menu>
</header>
