<script type="text/javascript">
var x=document.getElementById("demo");
	$(document).ready( function(){

	   $("input[type='text'], textarea").focus(function(){
		   $(this).css("color", "black");
	   });	   
	   $("input, textarea").focus(function(){
		   
		   $(this).css("color", "black");
	   });	   
	   
	   
	   $("a").click(function(e){
		   e.preventDefault();
		   var url = $(this).attr("href");
		   if (url.indexOf("notifications") > 0) {
			   $(".notifications").addClass("active");
		   } 	   
		   else {
		   		if (url.indexOf("messages") > 0) {
				 	global_cID = $(this).children().children().children("#cID").attr("value");
				 	console.log("global_cID "+global_cID);
					global_fID = $(this).children().children().children("#fID").attr("value");
					global_tID = $(this).children().children().children("#tID").attr("value");					  
				}		
			   getPage(url);  
		   }	
		   console.log("get page URL"); 
	   });
	

	
	   $(".back.button").click(function(){
	   	var cObject = $(this);
	   	console.log("cObject "+cObject);
		  cObject.parent().parent().parent().removeClass("active");
		  setTimeout(function(){
		  	cObject.parent().parent().parent().not(".notifications").remove();
		  	$(".checkin").remove();
		  }, 1000);
	   });	   
   });
   
function checkIn(location, geolocation, line_length) {

	if((location.length > 0) && (geolocation.length > 0) && (line_length.length > 0)) {
	     $.ajax({ 
	           url: '/<%= user.username %>/user_check_in/',
	           type: 'POST',
	           cache: false, 
	           data: { location: location, geolocation: geolocation, line_length: line_length }, 
	           success: function(data){
	           	  markup = data;
	              //alert('Success!');
	              console.log("data "+data);
	              $("#demo").html(data);
	              global_cID = data;
	              $(".checkin.active .back").click();
	           }
	           , error: function(jqXHR, textStatus, err){
	               alert('text status '+textStatus+', err '+err)
	               console.log('text status '+textStatus+', err '+err);
	           }
	        });
	}     
 }            


</script>

<header>
    <div class="container-fluid">
    	<% if ( typeof(user) != 'undefined' ) { %>
		<div class="back button">Back</div>    
		<% } %>      
        <div id="branding" class="aligncenter">
        	<h1 class="light no-margin">LineSocial</h1>
        </div>
        </button>
    </div>
</header>
