<section class="content">

<% include subpage_header %>
<div id="wrapper">
	<h2 class="light no-margin">Points</h2>

    <section class="bordered">
	<ul>
	<% if (user.points != undefined) { %>
	<li>Points: <%= user.points %>  <span class="green">+1 weekly</span></li>
	<% } %>
	<li class="arrow">Buy Points</li> 
	</ul>
    </section>
</div>
</section>
