<section class="body right checkin">

<% include subpage_header %>
<div id="wrapper">

	<h2>Check-in</h2>
	<p>How long is the line?</p>
    <section class="bordered">
        <div class="container-fluid">
        	<p><%= checkin_status %></p>
        	<ul class="checkin">
			<li onclick="getLocation(30)">AT LEAST 30 MINUTES<span class="right">Check-In</span></li>
			<li onclick="getLocation(60)">AT LEAST 1 HOUR<span class="right">Check-In</span></li>
			<li onclick="getLocation(120)">MAYBE 2 HOURS!<span class="right">Check-In</span></li>
			<li onclick="getLocation(1440)">AT LEAST A DAY!<span class="right">Check-In</span></li>
			</ul>        
			<form method="post" action="/<%= user.username %>/user_check_in/" class="form-skin hide checkin">
				  <input id="location" type="text" name="location" placeholder="My Location" />
				  <input class="hide" id="coords" type="text" name="geolocation" placeholder="geolocation" />
				  <input class="hide" id="line_length" type="text" name="line_length" placeholder="length" />
				  <input id="checkin" type="button" value="check in" class="btn btn-flat btn-blue no-radius"/>
			</form>
			<p class="hide" id="demo"></p>
			<ul class="venues hide"></ul>
        </div>    
    </section>
</div>    
</section>
