<section class="notifications right">
<!--notifications -->
<% include subpage_header %>
<div id="wrapper">
	<h2 class="light no-margin">Notifications</h2>
    <section class="chat_requests bordered">
    <ul></ul>
    <div class="accordion off">
	    <div id="content">
	    </div>
	    <div class="message controls">
			<input class="hide cID" />       
			<input class="hide fID" />
			<input class="hide tID"  />    		
			<input id="name" placeholder="name" value="<%= user.name.first %>" /> 
	        <input id="field" class="field" placeholder="field" />
	        <input id="send" class="send" type="button"  value='send' />
	    </div>
    </div>
    </section>
</div>
</section>

<script type="text/javascript">
 

$(document).ready(function(){
 	console.log("running messages");

    global_tID = ""; 	
    var messages = [];
    var socket = io.connect('http://localhost:5000');
    var field = document.getElementById("field");
    var sendButton = document.getElementById("send");
    var content = document.getElementById("content");
    var name = document.getElementById("name"); 
    socket.on('message', function (data) {
        if(data.message) {
        console.log("user notification message");
            messages.push(data);
            var html = '';
            var chat_requests = '';            
            var fIDlist = [];
 
	            for(var i=0; i<messages.length; i++) {	
	            if (typeof(messages[i].username) != 'undefined') {
            		fIDlist.push(messages[i].username+"_"+messages[i].fID);
            		}
	                html += '<p class="'+messages[i].fID+'"><b>' + (messages[i].username ? messages[i].username : 'Server') + ': </b>';
	                html += messages[i].message + '</p>';

	            }

	       var fIDlistArrayUnique = ArrNoDupe(fIDlist);        
           content.innerHTML = html;
	            for(var i=0; i<fIDlistArrayUnique.length; i++) {
		            console.log("fIDlistArrayUnique[i] "+fIDlistArrayUnique[i]);
		            var ufID = fIDlistArrayUnique[i].split("_").pop();
		            fIDlistArrayUnique[i].split("_").pop();
		            chat_requests += '<li class="'+ufID+'">' + fIDlistArrayUnique[i].split("_")[0] + '</li>';
	            }
	       $(".chat_requests ul").html(chat_requests);
	       $(".chat_requests ul li").click(function() {
	       		var notification_class = $(this).attr("class");
	       		$(".accordion").toggleClass("off");
	       		$(".accordion p").hide();
	       		$(".accordion ."+notification_class).show();
	       		console.log("this notification_class "+notification_class);	
	       });            
	       
        } else {
            console.log("There is a problem:", data);
        }
    });
 
    sendButton.onclick = function() {
    	console.log("click");
    	var d = new Date();
        if(name.value == "") {
            alert("Please type your name!");
        } else {
    		var time = " " + d.getHours() + ":" + d.getMinutes();
            var text = field.value;
	    	text = text + time; 
	    	console.log("text: "+text);            
            socket.emit('send', { cID: global_cID, fID: global_fID, tID: global_tID, message: text, username: name.value });
        }
    };
 
 
});
</script>