<section class="content">

<% include subpage_header %>
<div id="wrapper">

	<h2>Check-in</h2>
	<p>How long is the line?</p>
    <section class="bordered">
        <div class="container-fluid">
        	<p><%= checkin_status %></p>
        	<ul>
			<li>AT LEAST 30 MINUTES<span onclick="getLocation(30)" class="right">Check-In</span></li>
			<li>AT LEAST 1 HOUR<span onclick="getLocation(30)" class="right">Check-In</span></li>
			<li>MAYBE 2 HOURS!<span onclick="getLocation(30)" class="right">Check-In</span></li>
			<li>AT LEAST A DAY!<span onclick="getLocation(30)" class="right">Check-In</span></li>        
			<form method="post" action="/<%= user.username %>/user_check_in/" class="form-skin">
				  <input id="location" type="text" name="location" placeholder="My Location" />
				  <input class="hide" id="coords" type="text" name="geolocation" placeholder="geolocation" />
				  <input class="hide" id="line_length" type="text" name="line_length" placeholder="length" />
				  <input id="checkin" type="button" value="check in" class="btn btn-flat btn-blue no-radius"/>
			</form>
			<p id="demo"></p>
        </div>    
    </section>
</div>    
</section>
