<section class="content">

<% include subpage_header %>
<div class="wrapper">
	<h2 class="light no-margin">Points</h2>

    <section class="bordered">
	<ul>
	<% if (user.points != undefined) { %>
	<li>Points: <%= user.points %>  <span class="green">+1 weekly</span></li>
	<% } %>
	<li class="arrow buy">Buy Points</li> 
	</ul>
	<ul>
	<li class="message collapsed invalid">Points cannot be purchased currently</li>
	</ul>

    </section>
</div>
</section>

<script type="text/javascript">
$(document).ready(function(){
	$(".buy").click(function() {
		$(this).toggleClass("down");	
		$(".message").toggleClass("collapsed");
	});
});
</script>
