/*
Design by predic8 GmbH
http://www.predic8.de
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	background: url(../img/bg.png);
	padding: 0px;
	margin: 0px;
	color: #4c566c;
	text-shadow: 0px 1px -1px #fff;
	text-align: center;
	font: normal 15px Arial;
}

header {
	padding-bottom:20px;
}

div#wrapper {
	width: 320px;
	margin: 0 auto;
}

h1 {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b4bfce), color-stop( 50%, #889bb3), color-stop(50%, #7f94b0), to(#6d83a1));
	margin: 0px;
	height: 34px;
	font-size: 22px;
	text-shadow: 0px -1px 1px #000;
	border-bottom: 1px solid black;
	color: white;
	padding: 8px 0px 0px 0px;
	text-align: center;
}

h2{
	text-align: left;
	font-size: 19px;
	margin-left: 12px;
}
a {
	color: inherit !important;
	text-decoration: none;
}
p{
	margin: 1em;
}

ul{
	list-style: none;
	margin: 10px;
	padding: 0px;
}

menu {
	-webkit-padding-start: 0px;
	list-style-type: none;
}

li{
	background-color: white;
	border: 1px solid #ababab;
	margin-bottom: -2px;
	padding: 12px 10px;
	text-align: left;
	color: black;
	font-weight: bold;
	width: 280px;
	margin: 1px auto;	
	position: relative;
}

li.arrow{
	background-image: url(../img/arrow.png);
  	background-position: right center;
  	background-repeat: no-repeat;	
}

li span.right{
	position:absolute;
	right: 45px;
	text-align: right;
	color: #385487;
	font-weight: normal;
}

li:first-child{
   -webkit-border-top-left-radius: 12px;
   -webkit-border-top-right-radius: 12px;
}

li:last-child {
   -webkit-border-bottom-left-radius: 12px;
   -webkit-border-bottom-right-radius: 12px;
}
label {
	display: block;
	margin-top: 20px;
	text-align: left;
}
input, textarea, button {
	width: 280px;
	background: #efefef;
	border: 1px solid #ddd;
	font-size: 0.9em;
	color: #ccc;
	height: 25px;
	padding: 10px;
	margin-top: 3px;
	-mox-border-radius: 6px;
	-weblit-border-radius: 6px;
	border-radius: 6px;
}
textarea {
	height: 30px;
}
table {
	width: 300px;
}
input:focus, textarea:focus {
	border:1px solid #99cc66;
}

section.body {
	width:100%;
	height: 100%;
	
}

section.body.right {
	position: absolute;
	top: 0px;
	background: url(../img/bg.png);
	padding: 0px;
	margin: 0px;
	color: #4c566c;
	text-shadow: 0px 1px -1px #fff;
	text-align: center;
	font: normal 15px Arial;
}

section.body.right {
	margin-left: 100%;
	transition: margin-left 0.5s;
	/* Safari */
	-webkit-transition:margin-left 0.5s;	
}

section.body.left {
	margin-right: 100%;
	transition: margin-right 0.5s;
	/* Safari */
	-webkit-transition:margin-right 0.5s;	
}


section.body.right.active {
	transition: margin-left 0.5s;
	/* Safari */
	-webkit-transition:margin-left 0.5s;
	margin-left:0%;
}
section.body.left.active {
	transition: margin-right 0.5s;
	/* Safari */
	-webkit-transition:margin-right 0.5s;
	margin-right:0%;
}

#submit, 
#register,
#checkin,
#chat,
#post {

	height:43px;
	background: -webkit-gradient(linear, left top, left bottom, from(#b4bfce), color-stop( 50%, #889bb3), color-stop(50%, #7f94b0), to(#6d83a1));
	border:none;
	margin-top:20px;
	cursor:pointer;
}

#submit:hover {
	opacity:0.9;
}

/*CLASSES*/
.button{
	-webkit-box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8aa1bf), color-stop( 50%, #5877a2), color-stop(50%, #476999), to(#4a6c9b));
	-webkit-border-radius: 4px;
	font: bold 12px Arial;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-tap-highlight-color: white;
	padding: 2px;
	position: absolute;
	top: 4px;
	left: 6px;
	border: 1px solid #3e444c;
	
}

.button-bold{
	-webkit-box-shadow: 0px -1px 1px #2f3740, 0px 1px 1px #bfcbdb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8aa1bf), color-stop( 50%, #5877a2), color-stop(50%, #476999), to(#4a6c9b));
	-webkit-border-radius: 4px;
	font: bold 32px Arial;
	width: 27px;
	text-align: center;
	line-height: 28px;
	color: white;
	text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-tap-highlight-color: white;
	padding: 2px;
	position: absolute;
	top: 4px;
	right: 6px;
	border: 1px solid #3e444c;
}
.hide {
	display:none;
}
.controls table {
	margin: 0 auto;
}
/* iPhone checkbox*/
.iPhoneCheckContainer {
  -webkit-transform:translate3d(0,0,0);
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iPhoneCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iPhoneCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iPhoneCheckContainer, .iPhoneCheckContainer label {
   	margin-top: 0px; 
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iPhoneCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iPhoneCheckLabelOn {
  color: white;
  background: url('../img/iphone-style-checkboxes/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iPhoneCheckLabelOn span {
    padding-left: 8px; }
label.iPhoneCheckLabelOff {
  color: #8b8b8b;
  background: url('../img/iphone-style-checkboxes/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iPhoneCheckLabelOff span {
    padding-right: 8px; }

.iPhoneCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../img/iphone-style-checkboxes/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iPhoneCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('../img/iphone-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iPhoneCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('../img/iphone-style-checkboxes/slider_center.png?1284697268'); }

.iOSCheckContainer {
  position: relative;
  height: 27px;
  cursor: pointer;
  overflow: hidden; }
  .iOSCheckContainer input {
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  .iOSCheckContainer label {
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden; }
  .iOSCheckContainer, .iOSCheckContainer label {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none; }

.iOSCheckDisabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

label.iOSCheckLabelOn {
  color: white;
  background: url('../img/ios-style-checkboxes/on.png?1284697268') no-repeat;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 5px; }
  label.iOSCheckLabelOn span {
    padding-left: 8px; }
label.iOSCheckLabelOff {
  color: #8b8b8b;
  background: url('../img/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
  text-align: right;
  right: 0; }
  label.iOSCheckLabelOff span {
    padding-right: 8px; }

.iOSCheckHandle {
  display: block;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background: url('../img/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
  padding-left: 3px; }

.iOSCheckHandleRight {
  height: 100%;
  width: 100%;
  padding-right: 3px;
  background: url('../img/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0; }

.iOSCheckHandleCenter {
  height: 100%;
  width: 100%;
  background: url('../img/ios-style-checkboxes/slider_center.png?1284697268'); }
/*end checkbox*/



/* PAGE SPECIFIC */
.home > header .back,
.register > header .back {
	display: none;
}