<% include header %>
  <div class="container hero-unit">
	<h2 class="light no-margin"><%= l('Check Inbox') %></h2>

    <section class="bordered">
	<p><%= l('Check your inbox for a password reset message.') %></p>
    </section>
  </div>  
<%include footer %>
<script type="text/javascript">
$(document).ready(function(){

});
</script>
