<script type="text/javascript">
	subPageLoad();
</script>

<header>
    <div class="container-fluid">
    	<% if ( typeof(user) != 'undefined' ) { %>
		<div class="back button"><%= l('Home') %></div>    
		<% } %>      
        <div id="branding" class="aligncenter">
        	<h1 class="light no-margin"><%= l('LineSocial') %></h1>
        </div>
        </button>
    </div>
</header>
